* {
    box-sizing: border-box;
}

.Choices {
    width: 33%;
    padding: 10px;
    border: 1px solid white;
    float: left;
}

div{
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    justify-content: center;
    display: inline-flex;
}