.account {
    display: flex;
    justify-content: flex-end;
}

h1 {
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
}

body {
    background-color: #243447;
    color: white;
}

.rightSide {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    /* margin-bottom: 10%; */
    font-size: 25px; 
}

.leftSide {
    display: flex;
    justify-content: flex-start;
    margin-left: 15%;
    margin-bottom: 10%;
    font-size: 25px;
}